@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@layer components{
    .activeLink{
        @apply text-act
    }
}

@font-face {
    font-family: "moon";
    src: url("../public/assets/fonts/moon_get-Heavy.ttf");
}

.hero{

    position: relative;
    animation: slideLeft 1s 1;
    animation-timing-function: ease;
}
.dropDown{
    position: relative;
    animation: dropDown 1s ease 1s 1 normal none;
}

@keyframes slideLeft {
    from{left:-200px;}
    to{left: 0px;}
}

@keyframes dropDown {
    from{top:-250px;}
    to {bottom: 0px;}
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @layer components{
    input{
        @apply border border-primary rounded py-3 px-4 outline-none w-full bg-basee placeholder:text-primary placeholder:font-semibold
    }

    textarea{
        @apply border border-primary rounded h-20 py-3 px-4 outline-none w-full bg-basee placeholder:text-lg placeholder:text-primary placeholder:font-semibold
    }
  }

.example::-webkit-scrollbar {
    display: none;
}


.example {
  -ms-overflow-style: none; 
  scrollbar-width: none; }